$phone: "screen and (max-width: 769px) and (orientation:portrait)";
$ipad:" (min-device-width : 768px) and (max-device-width : 1380px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1)";
$ipadpro :"screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait)"
